---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div style="border: 2px solid #000; padding: 20px; background-color: #f4f4f4; border-radius: 8px; margin: 10px 0;">
    <h2 style="margin-top: 0;">Hola diego mina</h2>
    <p>
      Ya quedo entonces pues listo
    </p>
  </div>
</Layout>
