---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  colorFondo?: string;
  colorTexto?: string;
  href?: string;
}

const { class: className, colorFondo = "azul", colorTexto = "blanco", href, ...atributos } = Astro.props;

const Tag = href ? 'a' : 'p';
---

<div>
  <Tag
    href={href || undefined}
    style={`background-color: var(--${colorFondo}); color: var(--${colorTexto})`}
    class:list={[className,  { 'motion-hover': !!href }]}
    {...atributos}
  >
    <slot />
  </Tag>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p, a {
    font-size: 1.3em;
    border-radius: 40px;
    padding: 0.6em;
    text-decoration: none;
  }

  a::before, p::before { content: "✦"; }
  a::after,  p::after  { content: "✦"; }
</style>
